body {
    background-color: #1b2223;
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 13%;
}
.fobox {
    background-color: #1b2223;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media screen and (min-width: 900px){
    .navbar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
        font-size: 17px;
    }
    
    
}
@media screen and (max-width: 900px) {
    .logo {
        float: right;
        width: 30%;
        margin-bottom: 15px;
    }
    .card {
        margin-top: 35px;
        width: 85%;
        display: flex;
        justify-items: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
   
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
img {
    animation: transitionIn 0.75s;
}
.keptartalom {
    margin-top: 20px;
}
.firstp {
    font-size: 28px;
    margin-top: 20px;
}
.secondp {
    font-size: 20px;
}
.gomb {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 25%; 
    padding: 8px;
    border-top: 2px solid #0ef6cc;
    border-bottom: 2px solid #0ef6cc;
    border-right: none;
    border-left: none;
    background-color: white;
    font-size: 1.4rem;
    margin-bottom: 100px;

}
.gomb:hover {
    background-color: #0ef6cc;
    color: white;    
}
.section-title {
    font-size: 40px;
    background-color: #1b2223;
    padding: 0 10px;
    color: #0ef6cc;
}
.section-line {
    width: 100%;
    height: 35px;
    border-bottom: 2px solid #3a4f50;
    text-align: center;
    margin-bottom: 40px;
}
.szoveg {
    color: #0ef6cc;
    
}
.szoveg2, .szoveg3 {
    color: white;

}
.szoveg2 {
    transition-delay: 200ms;
}
.szoveg3 {
    transition-delay: 400ms;
}

.card {
    box-shadow: 0 0.4rem 1.2rem 0 #0ef6cc;
}

.footer-infos {
    border-top: 2px solid #0ef6cc;
    border-bottom: 2px solid #0ef6cc;
    border-right: none;
    border-left: none;
    padding: 12px;
    color: white;
}
footer {
    margin-top: 40px;
}

.footer-options {
    margin-top: 30px;
    font-size: 17px;
}
.footer-hover {
    color: grey;
    text-decoration: none;
    
}
.footer-hover:hover {
    color: white;
}
.text-grey {
    color: grey;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
#myBtn:hover {
    background-color: #0ef6cc;
    color: white;
  }
.backtotop {
    width: 30px;
    height: 30px;
    
}
.email-cim {
    font-size: 20px;
    
}

.basket {
    width: 22px;
    height: 22px;
    float: right;
}
.basket-item {
    float: right;
    margin-left: 30px;
}


@media screen and (min-width: 1000px) {
    .hidden {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s;
    }
}


@media screen and (max-width: 1000px) {
    .hidden-Y {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(100%);
        transition: all 1s;
    }
    .hidden-YX {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s;
    }
}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.kartya1 {
    transition-delay: 200ms;
}
.kartya2 {
    transition-delay: 400ms;
}

.szoveg4 {
    transition-delay: 0ms;
}
.copyright-tag {
    
    color: white;
    border-top: 2px solid #3a4f50;
}
.btn-text {
    background-color: #0ef6cc;

}
.btn-text:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
}
.fo-btn {
    color: #0ef6cc;
}
.alt-btn {
    color: white;
}
.fo-btn:hover {
    text-decoration: none;
    color: white;
    
}
.alt-btn:hover {
    color: #0ef6cc;
}
.fo-btn {
    position: relative;
    text-decoration: none;
    font-weight: 400;
    color: #0ef6cc;
    transition: all .35s ease;

    &::before {
        content: ""; 
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: yellow;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s; 
        transition: all 0.3s ease-in-out 0s; 
    }   

    &:hover {
        color: yellow;

        &::before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }   
    }   
}
.alt-btn {
    position: relative;
    text-decoration: none;
    font-weight: 400;
    color: white;
    transition: all .35s ease;

    &::before {
        content: ""; 
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: yellow;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s; 
        transition: all 0.3s ease-in-out 0s; 
    }   

    &:hover {
        color: yellow;

        &::before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }   
    }   
}

.search-btn {
    border: 2px solid #0ef6cc;
    color: white;
}
.search-btn:hover {
    background-color: #0ef6cc;
    color: black;
}
.toggler-color {
    background-color: #3a4f50;
    color: black;
}
.navbar-kep {
    width: 25px;
    height: 25px;
}

@media screen and (min-width: 1200px) {
    .right-social-icon {
        margin-right: 45px;
    }
    .zoom {
        padding: 40px;
        transition: transform .2s;    
        margin: 0 auto;
      }
      
    .zoom:hover {
        transform: scale(1.2); 
        
    }
}

h5 {
    color: #0ef6cc;
}
.text-sub {
    color: white;
}
@media screen and (max-width: 900px) {
    .footer-infos {
        margin-top: 30px;
    }
    .gomb {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 34%; 
        padding: 8px;
        border-top: 2px solid #0ef6cc;
        border-bottom: 2px solid #0ef6cc;
        border-right: none;
        border-left: none;
        background-color: #0ef6cc;
        color: white;
        font-size: 1.4rem;
        margin-bottom: 100px;
    
    }
    
}
@media screen and (max-width: 1200px) and (min-width: 900px) {
    .social {
        margin-bottom: 120px;
    }
    .navbar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        font-size: 17px;
    }
}
.thanks-mg {
    color: #0ef6cc;
    margin-top: 10px;
    display: block;
}
.fo-text-success {
    color: #0ef6cc;
}
.alt-text-success {
    color: white;
}
.alt2-text-success {
    color: black;
   
    display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 34%; 
        padding: 8px;
        border-top: 2px solid #0ef6cc;
        border-bottom: 2px solid #0ef6cc;
        border-right: none;
        border-left: none;
        background-color: #0ef6cc;
        color: white;
        font-size: 1.4rem;
        margin-bottom: 100px;
}
.kapcs-title {
    color: #0ef6cc;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}
.cardok {
    color: white;
}
.kapcs-cards {
    
    text-align: center;
}
.h1-btn {
    color: #0ef6cc;
    margin-bottom: 30px;
}
.payment-icons {
    width: 100px;
    height: 100px;
   
}
.payment-row {
    text-align: center;
    border-top: 2px solid #3a4f50;
    margin-top: 20px;
}
.cim1, .text1 {
    transition-delay: 200ms;
}
.cim2, .text2 {
    transition-delay: 400ms;
}
.text3 {
    transition-delay: 600ms;
}